<img [src]="linkImagen" alt="" [ngStyle]="{
    'font-weight': '400',
    'text-align': 'left',
    'font-family': 'Roboto,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,sans-serif',
    'line-height': '1.5',
    'word-wrap': 'break-word',
    '-webkit-font-smoothing': 'antialiased',
    'color': '#070707',
    'font-size': '13px',
    'box-sizing': 'border-box',
    'vertical-align': 'middle',
    'position': 'relative',
    'height': '76.3%!important',
    'margin-top': '20px',
    'border': '2px solid transparent',
    'border-radius': '5px',
    'display': 'block',
    'z-index': '1',
    'transition': 'transform .2s ease-in-out',
    'width': '100%'
}">

<div class="listing-content" [ngStyle]="{
    'font-weight': '400',
    'text-align': 'left',
    'font-family': 'Roboto,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,sans-serif',
    'line-height': '1.5',
    'word-wrap': 'break-word',
    '-webkit-font-smoothing': 'antialiased',
    'font-size': '13px',
    'box-sizing': 'border-box',
    'position': 'relative',
    'background': '#fff',
    'border-radius': '5px',
    'overflow': 'hidden',
    'transition': 'all .3s ease',
    'padding': '7px',
    'border-color': 'transparent',
    'box-shadow': '0 0 20px 6px rgba(0,0,0,.43)',
    'background-color': '#223143',
    'color': '#fff'
}">
  <p [ngStyle]="{
    'text-align': 'left',
    'word-wrap': 'break-word',
    '-webkit-font-smoothing': 'antialiased',
    'font-size': '13px',
    'box-sizing': 'border-box',
    'margin-top': '0',
    'font-family': 'Roboto,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,sans-serif',
    'margin-bottom': '10px',
    'line-height': '1.8',
    'color': '#fff!important',
    'font-weight': '700',
    'overflow': 'hidden',
    'text-overflow': 'ellipsis',
    'white-space': 'nowrap'
  }">{{nombrePelicula}}</p>
  <div class="stars" [ngStyle]="{
    'font-weight': '400',
    'text-align': 'left',
    'font-family': 'Roboto,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,sans-serif',
    'line-height': '1.5',
    'word-wrap': 'break-word',
    '-webkit-font-smoothing': 'antialiased',
    'font-size': '13px',
    'color': '#fff',
    'box-sizing': 'border-box'
  }">
    <div class="rating-ion-md-star" [ngStyle]="{
    'font-weight': '400',
    'text-align': 'left',
    'font-family': 'Roboto,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,sans-serif',
    'line-height': '1.5',
    'word-wrap': 'break-word',
    '-webkit-font-smoothing': 'antialiased',
    'font-size': '13px',
    'color': '#fff',
    'box-sizing': 'border-box'
    }">⭐<span [ngStyle]="{
    'font-weight': '400',
    'text-align': 'left',
    'font-family': 'Roboto,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,sans-serif',
    'line-height': '1.5',
    'word-wrap': 'break-word',
    '-webkit-font-smoothing': 'antialiased',
    'font-size': '13px',
    'color': '#50fe8a',
    'box-sizing': 'border-box'
        }">{{calif}}</span>
    </div>
  </div>
</div>








